:root 
{
--bg-darkgray:#1f1f1f;
--bg-white:#ffffff;
--bg-lightgray:#262626;
--bg-lightgray1:#343434;
--text-darkgray:#1f1f1f;
--text-white:#ffffff;
--text-lightgray:#262626;
--text-lightgray1:#343434; 
}
body 
{
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
background-color: var(--bg-darkgray); 
color: var(--text-white);   
}
#main 
{
width: 96%;
height: auto;
margin: auto;
padding: 10px 10px;
display: flex;
flex-wrap: nowrap;    
}
.leftsidebar
{
width: 25%;
height: 92vh;
border: solid 1px white;
border-radius: 15px;
position: fixed;
padding: 15px;
}
.navbar-link li 
{
padding: 25px 5px;
font-size: 25px;
list-style-type: none;
text-decoration: none;    
}
.navbar-link a 
{
list-style-type: none;
text-decoration: none;
color: white;    
}
.rightsidebar
{
width: 70%;
height: auto;
padding: 15px;
margin-left: 30%;
}
.banners
{
 width: 100%;
 height: auto;
 padding: 25px;
 border: solid 1px transparent;
 margin-top: 2%;  
 display: flex;
}
.banners-txt
{
width: 60%;
height: auto;
animation: 1s fadeInLeft alternate;
}
.banners-txt h1
{
font-size: 65px;
letter-spacing: 1px;
font-weight: bolder;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
.banners-txt h2
{
font-size: 45px;
letter-spacing: 1px;
font-weight: 300;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
line-height: 0.2;
}
.banners-txt h3
{
font-size: 25px;
letter-spacing: 1px;
font-weight: 300;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
line-height: 1;
}
.banners-txt #btn1
{
width: 180px;
height: auto;
font-size: 20px;
padding: 15px 0px;
border: none;
border-radius: 20px;
background-color: var(--bg-white);    
}

.banners-txt #btn2
{
width: 180px;
height: auto;
font-size: 20px;
padding: 15px 0px;
border: solid 1px white;
margin-left: 2%;
border-radius: 20px;
color: white;
background-color: transparent;    
}
.banners-photo
{
width: 40%;
height: auto;
animation: 1s fadeInRight alternate;
margin-top: 2%;
}
.banners-photo img 
{
width: 90%;
height: auto;
border-radius: 10px;
box-shadow: 15px 10px gray;    
}
.get-to-know-me
{
 width: 100%;
 height: auto;
 padding: 25px;
 border: solid 1px white;
 margin-top: 5%;     
}
.skills
{
 width: 100%;
 height: auto;
 padding: 25px;
 border: solid 1px white;
 margin-top: 5%;     
}
.resume
{
 width: 100%;
 height: auto;
 padding: 25px;
 border: solid 1px white;
 margin-top: 5%;     
}
.portfolio
{
 width: 100%;
 height: auto;
 padding: 25px;
 border: solid 1px white;
 margin-top: 5%;     
}
.contact-us
{
 width: 100%;
 height: auto;
 padding: 25px;
 border: solid 1px white;
 margin-top: 5%;     
}